body {
    font-family: sans-serif;
    margin: 0;
    display: flex; /* Enable flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    min-height: 100vh; /* Make the body take up full viewport height */
    background-color: #ccc;
  }
  
  .login-container {
    width: 20%;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff; /* Add a white background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    margin-bottom: 20%;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px 0px 10px 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  