{% extends "model-page.html" %}

{% block content %}
  <h1>Eventos</h1>

  
  <div class="evento-container">

   <a class="btn btn-primary" href="evento/" ><i class="fa fa-plus" aria-hidden="true"></i></a>
        
        <div class="evento">
 
            <table class="table-class">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Data</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for evento in eventos %}
                        <tr>
                            <td>{{ evento.titulo }}</td>
                            <td>{{ evento.get_data_evento }}</td>
                            <td>
                                <a href="evento/?id={{ evento.id }}"><i class="fas fa-edit acoes"></i></a> <a href="evento/delete/{{ evento.id }}"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>

        <div align="center" class="error-message">
            {% for message in messages %}
                <strong>{{ messages }}</strong>
                <strong>Erro! </strong> {{ message }}
            {% endfor %}
        </div>
  </div>
  <div class="container-iframe">
        <div class="navigation">
            <button class="btn-primary" onclick="loadPage('page1.html')">Página 1</button>
            <button class="btn-secondary" onclick="loadPage('page2.html')">Página 2</button>
        </div>
        <iframe id="content-frame" src="page1.html"></iframe>
    </div>
  
{% endblock %}