{% extends "model-page.html" %}

{% block content %}

    <h1>Evento</h1>
    <form action="submit" method="post">{% csrf_token %} 
        <label>Titulo</label>
        <input type="text"  name="titulo"></input>
        <label>data evento</label>
        <input type="datetime-local"  name="data_evento"></input>
        <label>Descricao</label>
        <textarea name="descricao" rows="5" cols="23"></textarea>

        <button type="submit">Salvar</button>
        <a href="/">
            <button type="button">Cancelar</button>
        </a>
    </form>


{% endblock %}