
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/agenda.css' %}"></style>
<link rel="stylesheet" type="text/css" href="{% static 'css/evento.css' %}"></style>
<title>Document</title>
<div class="mt-3" align="right">
    <a  class="btn btn-primary" href="/logout">logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
</div>